body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #0000ff;
    font-family: Verdana;
}

#page {
    width: 750px;
    margin: 0 auto;
}

#page #top #head a {
    font-size: 35px;
    font-family: Georgia, Verdana;
    text-decoration: none;
    color: #999;
}

#page #links {
    text-align: right;
}


.left {
    float: left;
}

.clear {
    both: clear;
}

.links {
    margin-top: 130px;
    text-align: center;
}